@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ade0d4c9;
  font-weight: 500;
}
p{
  text-indent: 20px;
}
header {
  background-image: linear-gradient(to bottom, #36C274, #1B6139);
  padding: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.434);
  padding-top: 40px;
  font-family: ;
}
header > p{
    text-align: center;
    color: white;
}
section h1 {
  font-family: "idroid", sans-serif;
}
.h3{
  background-color:#2fa8659a;
  color: white;
  height: px;

}
#titulo {
  text-align: center;
  color: white;
}
main {
    background-color: white;
    padding: 30px;
    margin: auto;
    width: 1047px;
    box-shadow: 1px 1px 1px 1px  #4a615c9d;
}
.main2{
  background-color: white;
    padding: 30px;
    margin: auto;
    width: 1047px;
    box-shadow: 1px 1px 1px 1px  #4a615c9d;
    background-color: #1B6139;
}
.main3{
  border-radius: 10px 10px 0px 0px;
}
nav {
  color: white;
  font-weight: bolder;
}
nav > a {
  text-decoration: none;
  margin: 5px;
  padding: 0px;
}
a {
  color: white;
  font-weight: bold;
}
.historia {
    color: green;
    text-shadow:  1px 1px 1px 1px black;
}
.home:hover {
  text-decoration: underline;
  background-color: #135d239c;
  border-radius: 20px;
  height: 20px;

}

.noticias:hover {
  text-decoration: underline;
  background-color: #135d2352;
}
.curiosidades:hover {
  text-decoration: underline;
  background-color: #135d2352;
}
.atendimento:hover {
  text-decoration: underline;
  background-color: #135d2352;
}
.versao{
    font-family: idroid,sans-serif;
    color: rgb(1, 73, 1);
    background-color: #84e1ac78;
}
div{
  text-align: center;
}
.final{
  background-color: #C5EBD6;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}
.direita{
  width: 600px;
}