
body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
}
thead{
    background-color: #666666;
    color: white;
}
th,td{
    border: 1px solid black;
    padding: 10px;
}
    .cinza{
        background-color: #666666;
        text-align: left;
        color: white;
    }